<div class="container text-center">
    <form [formGroup]="secretForm">
        <input type="text" formControlName="secretValue"  >
        <button (click)="secret()">Submit</button>
    </form>
</div>

<div *ngIf="showSecret" class="secret text-center">
    <h1>Secreto descubierto</h1>
    <img src="https://scontent.fmzt3-1.fna.fbcdn.net/v/t1.18169-9/314518_10150292445873062_833505653_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=cdbe9c&_nc_eui2=AeFTb8idmyWt2A4Y6I5Gj6GeooLJ164zXmmigsnXrjNeadBOyBbWMV7kNaIO3H5HPr4&_nc_ohc=RANdig63e6gAX_F6L4r&_nc_ht=scontent.fmzt3-1.fna&oh=9737fdd969f33ac11dcad41a82d4723d&oe=61C4F4EB">
</div>