<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
      <h1 class="display-4">Gif Downloader</h1>
      <p class="lead">Look for any topic and download your favorite gif!.</p>
      <form [formGroup]="searchForm" class="text-center">
        <input type="text" 
        placeholder="Search Gif!"
        formControlName="inputText" 
        class="form"
        >
        <button class="btn btn-primary m-3" (click)="search()">Search!</button>
        <button class="btn btn-success m-3" (click)="trending()">Trending!</button>
        <button class="btn btn-danger m-3" (click)="randomGif()">Random!</button>
        <h2 *ngIf="clicked">Click to save your favorite gif!</h2>
      </form>
    </div>
  </div>
  <div *ngIf="random">
    <a (click)="downloadImage(response.data.images.downsized_medium.url, response.data.title)">
        <img src="{{response.data.images.downsized_medium.url}}" class="mx-auto" id="random" class="imagerandom" />
    </a>
  </div>

<div class="container">
    <ul class="mx-auto">
        <div class="row justify-content-center">
            <div class="col-sm-3 image" *ngFor="let item of gifArray">
                <a (click)="downloadImage(item.images.downsized_medium.url, item.title)">
                    <img src="{{item.images.downsized_medium.url}}"  class="m-0 mx-auto imagenormal" />
                </a>
            </div>
        </div>
    </ul>

  <!-- <div class="pagination">
    <div *ngFor="let button of paginationButtons">
      <button (click)="trending()">{{button}}</button>
    </div>
  </div> -->
</div>
 