
.jumbotron {
    background-color: transparent;
    color: white;
}
.form {
    width: 100%;
}

.random ,img {
    height: 50vh;
    width: 100%;
    object-fit: contain;
}

.container {
    display: block;
    justify-content: center;
    align-items: center;
}

ul {
    display: inline;
    /* ignore */
}
